.header {
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 150px;
}

.nav-items {
  padding: 0px 20px;
}

.nav-items > ul {
  display: flex;
  list-style: none;
  font-size: 16px;
}

.nav-items > ul > li {
  padding: 10px;
  margin: 10px 5px;
}
